$button-bg: #1A45DB;
$button-bg-hover: #173DC2;
$button-bg-active: #1435A8;
$cart-bg-button: #F8F8F8;
$cart-bg-button-hover: #F2F2F2;
$cart-bg-button-active: #EDEDED;
$price-sale: #8F8F8F;
$main-red: #FF0D55;

